{% extends "layouts/base.html.twig" %}

{% block title %}unused link{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <P> Ce liens n'est pas utilisé </P>
{% endblock %}
