{% extends "layouts/base.html.twig" %}

{% block title %}Vérifie ton email{% endblock %}

{% block head %}
    {{ parent() }}
    <style>

    </style>
{% endblock %}

{% block content %}
    <h1>Vérifie ton email</h1>
    <p>Un email de confirmation t'a été envoyé. Clique sur le lien pour activer ton compte.</p>
{% endblock %}