<footer>
    <nav class="large-display">
    <p>&copy; {{ "now"|date("Y") }} - Mon Site Perso </p>
    {# Menu mobile (affiché uniquement en responsive via CSS) #}
    </nav>
    <div id="MobileDisplay">
        {% include 'partials/navbar.html.twig' %}
    </div>
</footer>
