<header class="main-header">
    <div class="logo">
        <a href="/"><img src="{{ asset('Images/Snowtricks_Logo.png') }}" alt="SnowTricks logo"></a>
    </div>

    {# Nav desktop uniquement #}
    <div id="HeaderLargeDisplay">
        {% include 'partials/navbar.html.twig' %}
    </div>
</header>

