<header class="main-header">

    {% if app.user %}
        <div class="logo">
            <a href="/"><img src="{{ asset('Images/Logo_SnowTricks.png') }}" alt="SnowTricks logo"></a>
            <li><a href="{{ path('unused') }}">Snowboarder<br>{{ app.user.userIdentifier }}</a></li>
        </div>
        </div>
    {% else %}
        <div class="logo">
            <a href="/"><img src="{{ asset('Images/Snowtricks_Logo.png') }}" alt="SnowTricks logo"></a>
        </div>

    {% endif %}
    <div id="HeaderLargeDisplay">
        {% include 'partials/navbar.html.twig' %}
    </div>
</header>

