.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #102B44;
    border-bottom: 1px solid #ddd;
}

.logo img {
    width: auto;
    height: 80px;
}

.logo {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo a{
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}
.logo a:hover {
    font-weight: bold;
    color: #AEE1F9;
    text-decoration: underline;
}

header h1 {
    color: #ffffff;
    padding: 1px;
}

.navbar-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
