.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #102B44;
    border-bottom: 1px solid #ddd;
}

.logo img {
    width: 100px;
    height: auto;
}

header h1 {
    color: #ffffff;
    padding: 1px;
}

.navbar-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
