{% extends "layouts/base.html.twig" %}

{% block title %}Erreur 404{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <h1>404 - Page introuvable</h1>
    <p>La page que vous recherchez n'existe pas ou a été déplacée.</p>
    <a href="/">Retour à l'accueil</a>
{% endblock %}
