{% extends 'bundles/TwigBundle/Exception/base_error.html.twig' %}


{% block title %}Erreur 403{% endblock %}

{% block body %}
    <img src="{{ asset('Images/Erreur403.png') }}" alt="Erreur 403">
    <h1>Erreur 403</h1>
    <p>Accès interdit. Vous n'avez pas les permissions nécessaires.</p>
    <a href="/">Retour à l'accueil</a>
{% endblock %}
