.trick-index {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    padding: 20px 20px 100px;
}

.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.card {
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1), 0 10px 20px rgba(0,0,0,0.05);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    height: 350px;
    width: 350PX;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    transform: translateY(-5px);
}

.card-image {
    width: 100%;
    height: 80%;
    object-fit: cover;
    object-position: top;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

}

.image-default {
    width: 100%;
    height: 80%;
    object-fit: cover;
    object-position: top;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.trick-name{
    text-align: left;
    padding-left: 5%;
}